html, body, #root, .react-root {
  height: 100%;
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-root.red {
  background-color: red;
}

.react-root.yellow {
  background-color: yellow;
}

.react-root.blue {
  background-color: blue;
}

.centered {
  text-align: center;
}

button {
  padding: 10px;
  margin: 5px;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  font-size: 1.5rem;
}

.button-red {
  background-color: red;
  color: white;
}

.button-blue {
  background-color: blue;
  color: white;
}

.button-yellow {
  background-color: yellow;
  color: black;
}